<h1>MOCKUP TABLE</h1>

<div class="table">
    <div class="table-header table-row">
        <p *ngFor="let col of ['name', 'email', 'item', 'date', 'status', 'price']" class="table-column col-{{col}}">{{col | uppercase}}</p>
        <button class="restore-btn" (click)="restoreTable()">RESTORE</button>
    </div>
    <div class="table-content">
        <div class="table-row" *ngFor="let record of data; let i = index">
            <!-- <p *ngFor="let item of record | keyvalue" class="table-column row-{{item.key}}">{{item.value}}</p> -->
            <p class="col-name table-column">{{record.name}}</p>
            <p class="col-email table-column">{{record.email}}</p>
            <p class="col-item table-column">{{record.item}}</p>
            <p class="col-date table-column">{{record.date| date}}</p>
            <p class="col-status table-column {{record.status}}">{{record.status}}</p>
            <p class="col-price table-column">{{record.price.toString()| currency: 'EUR'}}</p>
            <button class="remove-btn" (click)="removeRecord(i)">REMOVE</button>
        </div>
    </div>
</div>